@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #E0FBFC;
    --secondary-color: #98C1D9;
    --accent1-color: #3D5A80;
    --accent2-color: #F67835;
    --accent3-color: #293241;
    --heading-font: 'Raleway';
    --paragraph-font: 'Open Sans', sans;
    --nav-background-color: #E0FBFC;
    --nav-link-color: #293241;
    --nav-hover-link-color: #E0FBFC;
    --nav-hover-background-color: #293241;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 960px;
    padding: 20px;
    margin: auto;
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent3-color);
    text-align: center;
}

p {
    padding: 25px;
    color: var(--accent3-color)
}

 /* header */

    header {
        padding: 1rem;
        display: grid;
        justify-items: center;
        align-items: center;   
    }

    header img {
        width: 9vw;
        grid-column: 1/2;
    }

    header nav {
        background-color: white;   
        grid-column: 2/3;
        display: flex; 
    }

    header a {
        padding: 1vw 3vw;
        text-decoration: none;
        font-size: larger;
        color: var(--accent3-color);
    }

    header a:hover {
        background-color: var(--nav-hover-background-color);
        color: var(--nav-hover-link-color);
        border-radius: 3px
    }

    /* Hero section */

    .hero {
        position: relative;
        width: 100%;
    }

    .hero img{
        display:block;
        width: 100%;
        height: auto;
    }

    .hero article {
        position: absolute;
        bottom: 40%;
        margin:auto;
        background-color: rgb(29 32 41 / 50%);
        padding: 1em; 
    }

    .hero p {
        color: var(--primary-color);
        font-size: 1.4vw;
    }

    .hero article img {
        float: right;
        width: 25%;
        height: auto;
        border: 2px solid var(--secondary-color)
    }

    .hero h1 {
        position: absolute;
        top: 25px;
        background-color: #e0fbfc6b;
        margin: auto;
        padding: 1rem 0;
        width: 100%;
        text-align: center;
    }

/* History Section */

    .history {
        background-color: #bcd6e4;
        margin: 2rem auto;
        padding: 1rem;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas:
            'sidebar header'
            'sidebar content';
    }

    .history img {
        min-width: 200px;
        width: 20vw;
        border: 4px  solid white;
        grid-area: sidebar;
        justify-self: center;
    }

    .history h2 {
        justify-self: center;
        grid-area: header;
        font-size: 2rem;
    }

    .history p {
        grid-area: content;
        font-size: 1rem;
    }

/* Adventure Section */

    .adventure h2 {
        text-align: center;
        padding: 1rem;
        font-size: 2rem;
        border-bottom: 2px solid;
        border-color:#eea37a
    }

    .adventure div {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid;
        border-color:#eea37a
    }

    .adventure img {
        width: 13vw;
        height: 9vw;
        background-color: #3D5A80;
    }

    .adventure figcaption {
        max-width: 10vw;
        color: black;
        font-size: x-small;
    }

/* Footer */

    footer {
        margin: 2rem 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    footer a {
        text-decoration: none;
    }

    footer p {
        margin: 0 5rem;
    }
    footer img {
        display: inline;
        width: 4.5vw;
        min-width: 40px;
        padding: 1vw;
        margin: auto;
    }


/*Contact Us Page*/

/*Heading*/
.heading1 {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #e0fbfc6b;
    color:#293241;
}
.heading1 h2 {
    font-size: smaller;
    padding: .5rem 1rem 1rem;
    margin: 0 auto;
    font-weight: 300;
}  

/*main grid*/
.grid {
    display: grid;
    margin: 2rem auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    justify-content: center;
}

/*column 1*/

.column1 img {
    width: 25rem;
    margin: 0 auto;
    border: solid #293241
}

/*contact info*/
.contact {
    display: grid;
    padding: 0;
    margin: 5rem auto;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
}

.contact h2 {
    grid-column: 1/3;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--secondary-color);
}

.contact p {
    font-size: .7rem;
    margin: .5rem;
    padding: 0;
    justify-self: flex-start;
}

.contact img {
    width: 20%;
    justify-self: flex-end;
    border: none;
}

iframe {
    border: 1px solid black;
    margin: 1rem 4rem;
    border-radius: .5rem;

}

/*contact form*/

form {
    display: grid;
    padding: 1rem;
    background-color:  #bcd6e4;
    border: 1px solid var(--nav-hover-background-color);
    border-radius: .5rem;
}

.radio {
    margin: 0;
    border-top: 1px solid var(--accent1-color);
    border-bottom: 1px solid var(--accent1-color);
    padding: .5rem .5rem;
    vertical-align: center;
}

input[type="radio"] {
    margin: 0;
    width: 1em;
    height: 1em;
    vertical-align: center;
}

.radio label {
    font-size: .75rem;
}

.description {
    padding: .5rem 0;
}

input, textarea {
    width: 100%;
    padding: .5rem;
    margin: .5rem auto;
}

.checkbox {
    display: flex;
    font-size: .9rem;
    align-items: center;
}

.checkbox label {
    flex: 4;
}

.checkbox input {
    flex: 1;
}
button {
    width: 7rem;
    height: 3rem;
    margin: .5rem auto;
    border-radius: .5rem;
    border: .5px solid grey
}

button:hover {
    background-color: darkgrey;
}

/*Review*/
.review {
    display: grid;
    margin: 1rem;
    align-items: center;
    border: 1px solid lightblue;
    padding: 1rem;
}
.review img {
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    border-radius: 50%;
    border: 1px solid;
    float: left;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: flex-end;
}

.review p {
    padding: 0;
    grid-column: 1/4;
    grid-row: 1/2;
}
.review h2 {
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: flex-start;
    font-size: smaller;
}

/*Team*/

.team {
    margin: 2rem 0;
}

.team h2 {
    text-align: center;
    font-size: 2rem;
}

.team img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid;
}

.team div {
    display: grid;
    grid-gap: 2rem;
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: smaller;
}

