@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #E0FBFC;
    --secondary-color: #98C1D9;
    --accent1-color: #3D5A80;
    --accent2-color: #F67835;
    --accent3-color: #293241;
    --heading-font: 'Raleway';
    --paragraph-font: 'Open Sans', sans;
    --nav-background-color: #E0FBFC;
    --nav-link-color: #293241;
    --nav-hover-link-color: #E0FBFC;
    --nav-hover-background-color: #293241;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 960px;
    padding: 20px;
    margin: auto;
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent3-color);
}

p {
    padding: 25px;
    color: var(--accent3-color)
}

 /* header */

    header {
        padding: 1rem;
        display: grid;
        justify-items: center;
        align-items: center;   
    }

    header img {
        width: 9vw;
        grid-column: 1/2;
    }

    header nav {
        background-color: white;   
        grid-column: 2/3;
        display: flex; 
    }

    header a {
        padding: 1vw 3vw;
        text-decoration: none;
        font-size: larger;
        color: var(--accent3-color);
    }

    header a:hover {
        background-color: var(--nav-hover-background-color);
        color: var(--nav-hover-link-color);
        border-radius: 3px
    }

    /* Hero section */

    .hero {
        position: relative;
        width: 100%;
    }

    .hero img{
        display:block;
        width: 100%;
        height: auto;
    }

    .hero article {
        position: absolute;
        bottom: 40%;
        margin:auto;
        background-color: rgb(29 32 41 / 50%);
        padding: 1em; 
    }

    .hero p {
        color: var(--primary-color);
        font-size: 1.4vw;
    }

    .hero article img {
        float: right;
        width: 25%;
        height: auto;
        border: 2px solid var(--secondary-color)
    }

    .hero h1 {
        position: absolute;
        top: 25px;
        background-color: #e0fbfc6b;
        margin: auto;
        padding: 1rem 0;
        width: 100%;
        text-align: center;
    }

/* History Section */

    .history {
        background-color: #bcd6e4;
        margin: 2rem auto;
        padding: 1rem;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas:
            'sidebar header'
            'sidebar content'
    }

    .history img {
        min-width: 200px;
        width: 20vw;
        border: 4px  solid white;
        grid-area: sidebar;
        justify-self: center;
    }

    .history h2 {
        justify-self: center;
        grid-area: header;
        font-size: 2rem;
    }

    .history p {
        grid-area: content;
    }

/* Adventure Section */

    .adventure h2 {
        text-align: center;
        padding: 1rem;
        font-size: 2rem;
        border-bottom: 2px solid;
        border-color:#eea37a
    }

    .adventure div {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid;
        border-color:#eea37a
    }

    .adventure img {
        width: 13vw;
        height: 9vw;
        background-color: #3D5A80;
        flex-shrink: 1 100px;
    }

    .adventure figcaption {
        max-width: 10vw;
        color: black;
        font-size: x-small;
    }

/* Footer */

    footer {
        margin: 2rem 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    footer a {
        text-decoration: none;
    }

    footer p {
        margin: 0 5rem;
    }
    footer img {
        display: inline;
        width: 4.5vw;
        min-width: 40px;
        padding: 1vw;
        margin: auto;
    }
